@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    
}

* {
    margin: 0px;
    padding: 0px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-style: normal;
}



 :root {
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', sans-serif;
    --fonte2: 'idroid', sans-serif;

 }

body {
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

main {
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    font-family: var(--fonte0);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


header {
    font-family: var(--fonte1);
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.363);
}

aside {
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

footer {
    background-color: var(--cor4);
    text-align: center;

}

img {
    display: block;
    margin: auto;
}

strong {
    color: var(--cor3);
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

 main  p {
    text-align: justify;
    margin: 15px 0px;
    line-height: 1.6em;
    text-indent: 8px;
}

article > h2 {
    font-family: var(--fonte2);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), white);
}

aside > h3 {
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > p {
    text-align: justify;
    line-height: 1.6em;

}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;

}

.versoes-android {
    color: black;
}

#titulo_artigo {
    font-family: var(--fonte2);
    color: var(--cor4);
}

#titulo_principal {
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: normal;
}

#subtitulo_principal{
    font-family: var(--fonte0);
    font-size: 20px;
    line-height: 1.5em;
}

.links_principais {
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;

}

.links_principais:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

.links_internos {
    text-decoration: none;
    color: var(--cor3);
}